In [2]:
%load_ext autoreload

In [3]:
%autoreload 2

In [4]:
import requests

In [14]:
from lib import MongoHandler, WeatherGetter
import json
import pandas as pd

In [15]:
WeatherGetter()

In [16]:
forecast = requests.get("https://api.darksky.net/forecast/0a4e4fc0dd14bc1798cbf80b3a544bf7/42.3601,71.0589,2011-01-15T00:00:00")

In [17]:
forecast

In [18]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [98]:
test_dates = cur.execute('''SELECT Date FROM Matches
WHERE Date like "%2011%"
LIMIT 5''').fetchall()

In [99]:
test_dates

[('2011-01-15',),
 ('2011-04-23',),
 ('2011-03-05',),
 ('2011-01-29',),
 ('2011-02-05',)]

In [100]:
get_weather = WeatherGetter()

In [169]:
get_weather.weather_getter(test_dates)

In [136]:
test_response = get_weather.weather_getter('2011-03-05T00:00:00')

In [120]:
data = test_response.json()

In [124]:
data_test = data['currently']['icon']

In [135]:
data_test

'partly-cloudy-night'

In [103]:
for date in test_dates:
    print(date)

('2011-01-15',)
('2011-04-23',)
('2011-03-05',)
('2011-01-29',)
('2011-02-05',)

In [104]:
for date in test_dates:
    print(get_weather.weather_getter(date))

<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>
<Response [400]>

In [105]:
for date in test_dates:
    new_date = str(date)

In [106]:
new_date.strip()

"('2011-02-05',)"

In [149]:
list_test_dates = []
for a_tuple in test_dates:  # iterates through each tuple
    for item in a_tuple:  # iterates through each tuple items
        list_test_dates.append(item + 'T15:00:00')

In [150]:
for date in list_test_dates:
    print(date)

2011-01-15T15:00:00
2011-04-23T15:00:00
2011-03-05T15:00:00
2011-01-29T15:00:00
2011-02-05T15:00:00

In [151]:
list_of_responses = []

for date in list_test_dates:
    list_of_responses.append(get_weather.weather_getter(date).json())

In [167]:
for response in list_of_responses:
    print(response['currently']['summary'])

Mostly Cloudy
Clear
Mostly Cloudy
Clear
Possible Drizzle and Windy

In [36]:
f = forecast.json()

In [39]:
print(type(f))

<class 'dict'>

In [40]:
f.keys()

dict_keys(['latitude', 'longitude', 'timezone', 'currently', 'hourly', 'daily', 'flags', 'offset'])

In [47]:
pd.DataFrame.from_dict(f)

,latitude,longitude,timezone,currently,hourly,daily,flags,offset
time,42.3601,71.0589,Asia/Almaty,1572510394,NaN,NaN,NaN,6
summary,42.3601,71.0589,Asia/Almaty,Overcast,Mostly cloudy throughout the day.,Mixed precipitation throughout the week.,NaN,6
icon,42.3601,71.0589,Asia/Almaty,cloudy,rain,sleet,NaN,6
precipIntensity,42.3601,71.0589,Asia/Almaty,0.0105,NaN,NaN,NaN,6
precipProbability,42.3601,71.0589,Asia/Almaty,0.07,NaN,NaN,NaN,6
precipType,42.3601,71.0589,Asia/Almaty,rain,NaN,NaN,NaN,6
temperature,42.3601,71.0589,Asia/Almaty,42.52,NaN,NaN,NaN,6
apparentTemperature,42.3601,71.0589,Asia/Almaty,38.92,NaN,NaN,NaN,6
dewPoint,42.3601,71.0589,Asia/Almaty,29.51,NaN,NaN,NaN,6
humidity,42.3601,71.0589,Asia/Almaty,0.6,NaN,NaN,NaN,6
pressure,42.3601,71.0589,Asia/Almaty,1016.1,NaN,NaN,NaN,6
windSpeed,42.3601,71.0589,Asia/Almaty,5.76,NaN,NaN,NaN,6
windGust,42.3601,71.0589,Asia/Almaty,7.48,NaN,NaN,NaN,6
windBearing,42.3601,71.0589,Asia/Almaty,225,NaN,NaN,NaN,6
cloudCover,42.3601,71.0589,Asia/Almaty,0.93,NaN,NaN,NaN,6
uvIndex,42.3601,71.0589,Asia/Almaty,2,NaN,NaN,NaN,6
visibility,42.3601,71.0589,Asia/Almaty,7.542,NaN,NaN,NaN,6
ozone,42.3601,71.0589,Asia/Almaty,301.4,NaN,NaN,NaN,6
data,42.3601,71.0589,Asia/Almaty,NaN,"[{'time': 1572508800, 'summary': 'Overcast', '...","[{'time': 1572458400, 'summary': 'Mostly cloud...",NaN,6
sources,42.3601,71.0589,Asia/Almaty,NaN,NaN,NaN,"[cmc, gfs, icon, isd, madis]",6
nearest-station,42.3601,71.0589,Asia/Almaty,NaN,NaN,NaN,12.977,6
units,42.3601,71.0589,Asia/Almaty,NaN,NaN,NaN,us,6

In [57]:
location = (42.3601,71.0589)

In [64]:
WeatherGetter()

In [2]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [2]:
test_dates = cur.execute('''SELECT Date FROM Matches\
WHERE Date is like "2011%"
LIMIT 1''').fetchall()

NameError: name 'cur' is not defined

In [14]:
full_dates = cur.execute('''SELECT Date FROM Matches
                    ''').fetchall()

NameError: name 'cur' is not defined

In [92]:
df = pd.DataFrame(cur.execute("""SELECT * FROM Matches
                WHERE Date like '%2011%' """).fetchall())
df.columns = [x[0] for x in cur.description]

In [93]:
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,481,D1,2010,2011-01-15,Wolfsburg,Bayern Munich,1,1,D
1,483,D1,2010,2011-04-23,Ein Frankfurt,Bayern Munich,1,1,D
2,485,D1,2010,2011-03-05,Hannover,Bayern Munich,3,1,H
3,489,D1,2010,2011-01-29,Werder Bremen,Bayern Munich,1,3,A
4,490,D1,2010,2011-02-05,FC Koln,Bayern Munich,3,2,H

In [98]:
df.groupby('HomeTeam').sum()

               Match_ID  Season  FTHG  FTAG
HomeTeam
Aachen            21416   36189    26    33
Arsenal          889846   40210    27    10
Aston Villa      800828   36189    22    18
Augsburg          19075   34178    22    18
Bayern Munich     17057   34179    58    10
...                 ...     ...   ...   ...
West Brom        845226   38199    25    28
West Ham         399615   18090    12    15
Wigan            800797   36189    21    31
Wolfsburg         16048   34178    26    23
Wolves           800921   36189    29    30

[62 rows x 4 columns]

In [111]:
df.Match_ID.duplicated().count()

1008

In [112]:
ht_df = df[['HomeTeam', 'FTHG']]

In [118]:
ht_df.groupby(['HomeTeam']).sum()

               FTHG
HomeTeam
Aachen           26
Arsenal          27
Aston Villa      22
Augsburg         22
Bayern Munich    58
...             ...
West Brom        25
West Ham         12
Wigan            21
Wolfsburg        26
Wolves           29

[62 rows x 1 columns]

In [168]:
df

NameError: name 'df' is not defined